@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  min-height: 100%;
  overflow-y: scroll;
}
body {
  min-height: 100%;
  background-color: #121212;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Montserrat", sans-serif;
  background-color: #121212;
  color: #07072d;
}
.logo {
  float: left;
  height: 80px;
  width: 100px;
}
nav {
  background-color: #121212;
  color: #edf7f6;
  padding: 10px;
  top: 0%;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.nav-items {
  margin-right: 17px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}

nav ul li {
  margin: 0 15px;
}

nav a {
  color: #edf7f6;
  text-decoration: none;
}

.navbar a {
  position: relative;
  color: #edf7f6;
  text-decoration: none;
}

.navbar a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: transparent;
  bottom: -3px;
  left: 0;
  transition: background-color 0.3s ease;
}

.navbar a:hover::after {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .nav-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    padding: 5px 0px;
    font-size: 14px;
    margin-top: 5px;
  }

  .nav-items li {
    margin: 0px 5;
    margin-top: 3px;
    text-align: left;
  }
}
section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #121212;
  color: white;
  margin-bottom: 80px;
}
.home-section {
  margin-top: 10%;
}
.home-content {
  display: flex;
  align-items: center;
}
h1 {
  font-size: 36px;
}

.img1 {
  height: 450px;
  width: 350px;
  border-radius: 48px;
}

.photo {
  margin-left: 30px;
  width: 30%;
  float: left;
}

.intro {
  margin: 0 auto;
  float: right;
  width: 600px;
  line-height: 25px;
}

.icons {
  margin-right: 15px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  section {
    padding: 10px;
  }

  .home-section {
    margin-top: 5%;
  }

  .home-content {
    flex-direction: column;
    text-align: center;
  }

  .img1 {
    height: auto;
    width: 100%;
    max-width: 300px;
    margin-top: 70px;
  }

  .photo {
    margin-left: 0;
    width: 100%;
  }

  .intro {
    margin: 0 auto;
    width: 80%;
  }
  .intro h1 {
    line-height: 40px;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project {
    margin-top: 30px;
  }
}

.project {
  background-color: #121212;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  min-height: 300px;
}
#projects,
#skills,
#contact,
#academic,
#awards,
#home,
#acad,
#exp,
#cah {
  scroll-margin-top: 100px;
}
#projects,
#skills,
#contact,
#exp,
#acad,
#cah u {
  color: #ffffff;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}

.project img {
  max-width: 100%;
}

.project video {
  max-width: 100%;
}

.project h3 {
  margin: 10px 0;
  font-size: 1.5rem;
}

.project p {
  margin: 10px 0;
}

.project a {
  color: #ffffff;
  text-decoration: none;
  background-color: #121212;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.project a:hover {
  background-color: #ffffff;
  color: #121212;
}
.projectimg {
  border-radius: 5px;
}

.skills-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skill {
  display: flex;
  align-items: center;
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 18px;
}

.skill img {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.skill p {
  margin: 0;
}

@media (max-width: 768px) {
  .skills-section {
    flex-direction: column;
  }

  .skill {
    width: 0;
  }
}

.contact-section {
  background-color: #121212;
  border: 2px solid #ffffff;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  color: #ffffff;
  margin-bottom: 5px;
}

input,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.submit-button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #ffffff;
  color: #121212;
}

.contact-info {
  list-style: none;
  padding: 0;
}

.contact-info li {
  color: #ffffff;
  margin-bottom: 10px;
  font-size: 18px;
}
#contact h2 {
  text-align: center;
}
.contact-section img {
  vertical-align: middle;
}
@media (max-width: 768px) {
  .contact-section {
    max-width: 100%;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.App {
  opacity: 0;
  transition: opacity 1s;
}

.App.hidden {
  opacity: 0;
}

.App.visible {
  opacity: 1;
}

.experience-section {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
}

.experience-line {
  width: 2px;
  height: 2600px;
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 230px;
}

.bullet {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: -5px;
  top: -5px;
  color: #ffffff;
}

.experience {
  display: flex;
  margin-right: 55%;
  text-align: left;
  margin-left: 20%;
  margin-top: 80px;
}

.experience1 {
  display: flex;
  margin-left: 55%;
  margin-top: 80px;
  margin-right: 20%;
}

.experience-content {
  flex: 1;
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 12px;
}

.left {
  height: 24px;
  width: 24px;
  margin-left: 5px;
}

.expimg {
  height: 72px;
  width: 72px;
  border-radius: 12px;
  margin-left: 25%;
}
.expimg5 {
  height: 72px;
  max-width: 140px;
  border-radius: 12px;
  margin-left: 25%;
}
.experience-section h2 {
  display: inline-block;
}

@media (max-width: 768px) {
  .experience-section {
    padding: 10px;
  }

  .experience-line {
    visibility: hidden;
  }

  .bullet {
    display: none;
  }

  .experience,
  .experience1 {
    margin-left: 0;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
  }
}
#exp u {
  text-align: center;
  font-size: 18px;
}
.academic-awards-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
}

.academic-section,
.awards-section,
.achievements-section {
  flex: 1;
  text-align: left;
  border: 2px solid #ffffff;
  margin-right: 20px;
}

.cgpa,
.average-cgpa,
.awards-list,
.achievements-list {
  margin: 20px;
}
.academic-awards-section u {
  text-decoration-color: #ffffff;
}
#acad h2 {
  font-size: 22px;
}

#acad ul {
  list-style: square;
  padding: 0;
}

#acad ul li {
  margin: 20px 0;
  margin-left: 14px;
}

@media (max-width: 768px) {
  .academic-awards-section {
    flex-direction: column;
  }

  .academic-section,
  .awards-section,
  .achievements-section {
    width: 100%;
    margin-bottom: 20px;
  }
}

.certifications-section,
.hackathons-section {
  background-color: #121212;
  color: #ffffff;
  padding: 20px;
  text-align: left;
  margin: 20px 0;
}

.certifications-section {
  display: flex;
  text-align: center;
}

.certifications-section h2,
.hackathons-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.certification img {
  width: 300px;
  height: 200px;
}

.certification p {
  margin-top: 10px;
  font-size: 18px;
}

.certification {
  width: 50%;
}

ol {
  list-style-type: decimal;
  padding: 0;
}

ol li {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .certifications-section,
  .hackathons-section {
    padding: 4px;
  }

  .certification {
    max-width: 100%;
    overflow: hidden;
  }

  .certification p {
    font-size: 16px;
  }

  .hackathons-section h2 {
    margin-top: 20px;
  }

  .hackathons-section ol li {
    margin-left: 10px;
  }
}
